{% extends "main.html" %}
{% load static %}
{% block content %}

    <head>
        <style>
            header{
            margin-left: 50px;
            }
            .container {
            max-width: 960px;
            margin: 50px auto;
            padding: 0 15px;
            background: white;
            font-size: 16px;
            }
            img{
                height: 400px;
                width: 750px;
            }
            body {
            font-family: 'Montserrat', sans-serif;
            color: #606060;
            font-size: 14px;
            }

        </style>
    </head>
    <body>
    <header>
    <div class="container">
        <p style="color: black">Статистика по географии</p>
        <img src= "{% static "/graph2.png" %}" alt="graph">
        <h2 style="text-align: center; color: black">Статистика по городам</h2>
            <table style="width: 48%; float: left; color: black">
                <thead>
                    <tr>
                        <th>Город</th>
                        <th>Уровень зарплат</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city, value in dynamics5 %}
                        <tr>
                            <td>{{ city }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table style="width: 48%; float: right; border-collapse: collapse; color: black">
                <thead>
                    <tr>
                        <th>Город</th>
                        <th>Доля вакансий</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city, value in dynamics6 %}
                        <tr>
                            <td>{{ city }}</td>
                            <td>{{ value }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </header>
    {% endblock content%}
    </body>